doctype html 
html(lang="ko")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
        title fortuneteller
    body 
       main 
        header               
        h1 점술나라에 오신것을 환영합니다.
      
                block content
                br
                include partials/footer.pug